.showAnalytics_container {
    width: 85vw;
    background: #EDEDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

.showAnalytics_container>h1 {
    font-family: var(--font-family-poppins);
    color: #5076FF;
    margin-top: 3%;
}

table {
    border-collapse: collapse;
    width: 60vw;
}

td {
    text-align: center;
    font-family: var(--font-family-poppins);
    font-weight: 600;
    padding: 0.5rem;
}

td:first-child,th:first-child{
    border-radius: 0.6rem 0 0 0.6rem;

}
td:last-child,th:last-child{
    border-radius: 0 0.6rem 0.6rem 0;
}

td:nth-child(5)>img{
    margin-right: 0.1rem;
}
thead>tr {
    background: #5076FF;
}

th {
    padding: 0.5rem;
    color: white;
    font-family: var(--font-family-poppins);
}

tbody>tr:nth-child(even) {
    background: #B3C4FF;
}

.images {
    cursor: pointer;
}